/* login.css */

.login-container {
    height: 100vh;
    background-image: url('/assets/image/imagem1.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    position: relative;
    border-radius: 0.5rem; /* rounded-lg */
    max-width: 32rem; /* max-w-lg */
    margin: auto; /* m-auto */
    background-color: #1c1f24; /* bg-zinc-900 */
    padding: 1.25rem 1rem; /* px-4 pt-5 pb-4 */
    border: 1px solid #3b3f47; /* border border-zinc-800 */
    box-shadow: 0 2px 4px rgba(57, 62, 86, 0.5);
  }
  
  .title {
    color: #146E0F; /* text-zinc-100 */
    margin-top: 1.5rem; /* mt-6 */
    font-size: 1.875rem; /* text-3xl */
    font-weight: bold; /* font-bold */
  }
  
  
  .input-label {
    display: block;
    color: #146E0F; /* text-zinc-100 */
    font-weight: 500; /* font-medium */
  }
  
  .input {
    width: 100%;
    appearance: none;
    border-radius: 0.375rem; /* rounded-md */
    color: #e5e5e5; /* text-zinc-100 */
    background-color: #ffffff; /* bg-zinc-800 */
    border: 1px solid #146E0F; /* border-violet-700 */
    padding: 0.5rem; /* px-3 py-2 */
    font-size: 0.875rem; /* text-sm */
  }
  
  .checkbox-label {
    margin-left: 0.5rem; /* ml-2 */
    color: #146E0F; /* text-zinc-100 */
  }
  
  .button {
    width: 100%;
    border:1px solid #146E0F;
    border-radius: 0.375rem; /* rounded-md */
    background-color: #fffdfd; /* bg-violet-600 */
    padding: 0.5rem; /* py-2 px-4 */
    color:#146E0F; /* text-black-10 */
    font-size: 0.875rem; /* text-sm */
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .button:hover {
    background-color: #d3ffdd; /* hover:bg-violet-700 */
  }
  
  .footer-text {
    margin-top: 1.5rem; /* mt-6 */
    text-align: center;
  }
  
  .link {
    color: #8b5cf6; /* text-violet-600 */
    transition: color 0.2s;
  }
  
  .link:hover {
    color: #6d28d9; /* hover:text-violet-500 */
  }
  
  /* Add more styles as needed */
  