body{

}

.header2 {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  .hamburger-icon {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    svg {
      color: black;
    }
  }

  @media (max-width: 768px) {
    .hamburger-icon {
      display: block; 
    }
  }
}

.cable {
  position: relative;
  background-color: #9ce9b0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 5rem; /* Espaçamento padrão entre os botões */
  height: 4.3rem;
  margin-bottom: 2rem;
  width: 100%; /* Ajusta a largura para ocupar o espaço */
}

.buttons {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: black;
  margin: 1rem 0;

  &:hover .gradient-underline {
    transform: scaleX(1.2);
  }

  @media (max-width: 1024px) {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.gradient-underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    height: 2px;
  }

  @media (max-width: 480px) {
    height: 1.5px;
  }
}
