.cable{
  position: relative;
  background-color: #9ce9b0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 5rem;
  height: 4.3rem;
  margin-bottom: 2rem;
  width: full;
  
}
.buttons{
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
    line-height: 2.5rem;
    text-decoration: none;
  color: black;
  &:hover .gradient-underline {
    transform: scaleX(1.2);
  }
}
.gradient-underline{
  position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-image:black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}