.header2 {
  position: relative;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;

  .hamburger-icon {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;

    svg {
      color: black;
    }
  }

  @media (max-width: 768px) {
    .hamburger-icon {
      display: block; 
    }
  }
}

.cable {
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #9ce9b0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 250px;
  transition: right 0.3s ease;
  z-index: 5;

  @media (max-width: 1024px) {
    width: 200px;
  }

  @media (max-width: 768px) {
    right: -250px;
  }

  &.open {
    @media (max-width: 768px) {
      right: 0;
    }
  }
}

.buttons {
  display: inline-block;
  position: relative;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: black;
  margin: 1rem 0;

  &:hover .gradient-underline {
    transform: scaleX(1.2);
  }

  @media (max-width: 1024px) {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 1rem;
    line-height: 1.8rem;
  }
}

.gradient-underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;

  @media (max-width: 768px) {
    height: 2px;
  }

  @media (max-width: 480px) {
    height: 1.5px;
  }
}
