.pai-financeiro{
    padding: 0 35px;
    display: flex;
    flex-direction: row;

}

.tren1{
margin: 200px;
}

.tabela{
  min-height: 400px;
  width: 50vw;
  border: solid 3px rgba(192, 190, 190, 0.911);
  float: left;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 30px 90px;
  
  }

.tabela2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 380px;
  background: rgba(223, 222, 222, 0.911);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  padding: 30px 90px;
  float: right;
  margin-top: 20px;
}

.circleModal{
  border: solid 2px #287c24;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 94vw;
}

.circle{

  background-color:#7ed957;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle2{
  background-color:#d95757;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle3{
  background-color:#146e0f;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  background: transparent;
  color: black;
}
.icon1{
  background: transparent;
  color: #35b100dc;
}
.iconM{
  background: transparent;
  color:#287c24
}


.valores{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 50vw;
}