* {
  margin: 0;
  background-color: #f5fff7;
}

.buttons{

  display: flex;
  background-color: transparent;
  border-radius: 51px;
  border-color: #ffff;
}

h1{
  font-family: 'montserrat';
  font-size: 80px;
}