.pai {
  background-color: #f5fff7;
}


.filho {
  display: flex;
  justify-content: space-around;
  font-size: 30px;


  .inicio {
    background-color: transparent;
    border: none;
    font-family: 'glacial indifference';
    font-size: 32px;
    color: #025d00;
    margin-top: 20px;
  }

  .sobre {
    background-color: transparent;
    border: none;
    font-family: 'glacial indifference';
    font-size: 32px;
    color: #025d00;
    margin-top: 20px;

  }

  .contato {
    background-color: transparent;
    border: none;
    font-family: 'glacial indifference';
    font-size: 32px;
    color: #025d00;
    margin-top: 20px;

  }

  .ajuda {
    background-color: transparent;
    border: none;
    font-family: 'glacial indifference';
    font-size: 32px;
    color: #025d00;
    margin-top: 20px;

  }

  .artigos {
    background-color: transparent;
    border: none;
    font-family: 'glacial indifference';
    font-size: 32px;
    color: #025d00;
    margin-top: 20px;
  }

  .login {
    justify-content: end;
    background-color: transparent;
    border-radius: 50px;
    padding: 5px 40px 10px 40px;
    border-color: #025d00 #0f8671;
    margin-top: 30px;
    color: #025d00;
  }
}

.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 490px;

  .titulo1 {
    font-family: 'montserrat';
    color: #025d00;
    font-size: 180px;
  }

  .text {
    font-family: 'glacial indifference';
    font-style: italic;
    color: #025d00;
    font-size: 60px;
  }
}

.titulo2 {
  font-family: "poppins";
  color: #025d00;
  font-size: 90px;
  text-align: center;
  margin-top: 430px;
}

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 190px;
  justify-content: space-around;
  gap: 90px;
}



.card1 {
  font-family: 'poppins';
  font-size: 52px;
  background-color: #b8ffc7;
  border-radius: 45px;
  border-color: #025d00 #0f8671;
  width: 490px;
  text-align: center;
  padding: 70px 10px 60px;
  border: 2px solid #068304;

}

.card2 {
  font-family: 'poppins';
  font-size: 52px;
  background-color: #b8ffc7;
  border-radius: 45px;
  border-color: #025d00 #0f8671;
  width: 490px;
  text-align: center;
  padding: 70px 10px 60px;
  border: 2px solid #068304;
}

.card3 {
  font-family: 'poppins';
  font-size: 52px;
  background-color: #b8ffc7;
  border-radius: 45px;
  border-color: #025d00 #0f8671;
  width: 490px;
  text-align: center;
  padding: 70px 10px 60px;
  border: 2px solid #068304;
}

.card4 {
  font-family: 'poppins';
  font-size: 50px;
  background-color: #b8ffc7;
  border-radius: 45px;
  border-color: #025d00 #0f8671;
  width: 490px;
  text-align: center;
  padding: 70px 10px 60px;
  border: 2px solid #068304;
}

.section3 {
  padding-top: 200px;
  margin: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  img {
    border-radius: 950px;
    width: 400px;
  }
}

.titulo3 {
  display: flex;
  font-family: 'montserrat';
  font-size: 80px;
  color: #025d00;
  width: 1100px;
  padding-left: 150px;
  padding-top: 150px;
}


.texto {
  padding-bottom: 60px;
  padding-top: 80px;
  font-family: 'poppins';
  font-size: 45px;
  color: #013000;
}

.agendar {
  justify-content: center;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px 40px 10px 40px;
  border-color: #025d00 #0f8671;
  margin-top: 30px;
  font-size: 40px;
  color: #025d00;
  margin-left: 350px;

}

.ebook {
  justify-content: end;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px 40px 10px 40px;
  border-color: #025d00 #0f8671;
  margin-top: 30px;
  color: #025d00;
}

.titulo4 {
  display: flex;
  font-family: 'montserrat';
  font-size: 50px;
  color: #025d00;
  width: 700px;
  padding-left: 100px;
  padding-top: 20px;
}

.texto4 {
  
  width: 400px;
  padding-left: 100px;
  padding-top: 20px;
  font-family: 'poppins';
  font-size: 10px;
  color: #013000;
  flex-wrap: wrap;
}

.section4 {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 400px;
    border: 1px solid #013000;
    border-radius: 20px;
    margin-left: 100px;
  }
}

.titulo5 {
  display: flex;
  font-family: 'montserrat';
  font-size: 70px;
  color: #025d00;
  width: 1100px;
  padding-left: 150px;
  padding-top: 150px;
}

.texto5 {
  padding-bottom: 60px;
  padding-top: 80px;
  font-family: 'poppins';
  font-size: 20px;
  color: #013000;
  padding-left: 20px;
  width: 500px;
}

.section5 {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 20px;
    border-radius: 100px;
  }
}